@font-face {
    font-family: 'rocketwildnessregular';
    src: url(https://drive.google.com/uc?id=14i6UGPxyhj3i-gEu7s-HPbmngwI5yLoE&export=download) format('woff2'),
         url(https://drive.google.com/uc?id=1VNjfSfQrN-R_uRzbq-JFSbah8LMCrJQz&export=download) format('woff');
    font-weight: normal;
    font-style: normal;

}
