@font-face {
    font-family: 'Discord';
    src: url(https://drive.google.com/uc?id=1AgC4tnVldiVwrHMtBEXAuRSg_oyR6p_i&export=download) format('woff2'),
        url(https://drive.google.com/uc?id=1Crw8G492lqYso2I9prW_2WoAO4bhmAcH&export=download) format('woff');
    font-weight: normal;
    font-style: normal;
  }
